

/* ---SCROLL BAR--- */

.chatbox::-webkit-scrollbar {
    width: 10px;
}

.chatbox::-webkit-scrollbar-track {
    background: transparent;
}

.chatbox::-webkit-scrollbar-thumb {
    background: var(--light);
    border-radius: 10px;
}


/* ---CHATBOX FRAME--- */

.current-user-box {
    display: inline-block;
    width: 100%;
    height: 50px;
    font-size: 25px;
    color: #fff

}

.current-user-box p {
    margin-top: 7px;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;

}

.outer-chatbox {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 30px;
    margin: auto;
    width: 60%;
    height: 90%;
    background-color: var(--dark);

}

.chatbox {
    overflow-y: scroll;
    flex: 1;
    border: 3px solid black;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    background-color: var(--light)

}

/* ---CHATBOX INPUT--- */

.chat-input {
    margin: auto;
    width: 90%;
    height: 70px;
}

.chat-textbox-box {
    background-color: var(--lightest);
    border: 3px solid black;
    border-radius: 20px;
    display: inline-block;
    width: 76%;
    height: 40px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 3%;
}

.chat-textbox {
    background-color: transparent;
    border: none;
    width: 96%;
    height: 100%;
    margin-left: 2%;
    font-size: 22px;
    
}

input:focus {
    outline: none;
}

.chat-button {
    border: 3px solid black;
    border-radius: 30px;
    background-color: orange;
    width: 21%;
    height: 40px;
    font-size: 20px;

}

/* ---Message Bubbles--- */

.msg-block {

    display: flex;
    flex-direction: row;
}

.msg-interior {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

.msg-general {
    max-width: 50%;
    background-color: #F4D35E;
    border-radius: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.msg-user {
    margin-left: auto;
    margin-right: 1%;

}

.msg-other {
    margin-right: auto;
    margin-left: 1%;

}

.msg-text {
    margin-top: 10px;
    margin-bottom: 0;

}

.msg-time {
    color: grey;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: right;
}