/* ---Login Box--- */

.login-box-outer {
    border: 3px solid black;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    margin: auto;
    width: 280px;
    height: 365px;
    display: grid;
    place-items: center;
}

.login-box-inner {
    display: inline-block;
    width: 90%;
    height: 90%;
    
}

.form-title {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 600;
}

.login-switch {
    width: 50%;
    height: 40px;
}

.switch-selected {
    background-color: var(--dark);
    color: #fff
}

.report-box {
    height: 30px;
    width: 100%;
    line-height: 30px;
    color: red;
}

.field {
    display: grid;
    place-items: center;
    height: 35px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 20px;
}

.input-box {
    width: 94%;
    height: 28px;
    border: 0px;
    
}

.input-box label {
    width: 100px;
}

#action-button {
    height: 30px;
    width: 100%;
}